@import "shared/styles/callouts.css";
@import "shared/styles/menu.css";

/* ----------- colors ----------------- */

@theme {
    --color-ig-h1: hsl(345 94% 58%);
    --color-ig-h2: hsl(180 100% 42%);
    --color-ig-h3: hsl(200 100% 55%);
    --color-ig-h4: hsl(260 100% 70%);
    --color-ig-h5: hsl(300 100% 42%);
    --color-ig-strong: hsl(20 100% 65%);
    --ig-background: #eee;
    --ig-text: #111;
}

.dark {
    @theme {
        --color-ig-h2: hsl(180 100% 50%);
        --ig-background: #111;
        --ig-text: #eee;
    }
}

main {
    h3 {
        color: var(--color-ig-h3);
    }
}

/* ----------- fonts ----------------- */

main {
    font-family: var(--nextfont-body);
    font-size: 120%;
    h1,
    h2,
    h3,
    h4,
    h5 {
        font-family: var(--nextfont-heading);
    }
}

.blockquote:not(.callout) {
    border-left: 3px solid var(--color-ig-h3);
    padding-left: 1rem;
    margin-top: 1rem;
}

/* ----------- todo list corrections ------------- */

.contains-task-list {
    font-weight: bold;
    margin: 1rem;
    .contains-task-list {
        font-weight: normal;
        margin: 0 1rem 1rem;
    }
    .task-list-item:has(> input[type="checkbox"]:checked) {
        font-style: italic;
        opacity: 0.7;
    }
}

/* ----------- corrections ----------------- */
.katex-html {
    display: none;
}

[role="tabpanel"] h3:first-child {
    display: none;
}

/* ----------- custom utilities ----------------- */

.rainbow-text {
    --rainbow-opacity: 0.6;
    --rainbow-y-offset: 90%;
    display: inline;
    text-decoration: none;
    background-image:
        linear-gradient(to right,
            rgb(255 0 0 / var(--rainbow-opacity)),
            rgb(255 128 0 / var(--rainbow-opacity)),
            rgb(255 255 0 / var(--rainbow-opacity)),
            rgb(128 255 0 / var(--rainbow-opacity)),
            rgb(0 255 0 / var(--rainbow-opacity)),
            rgb(0 255 128 / var(--rainbow-opacity)),
            rgb(0 255 255 / var(--rainbow-opacity)),
            rgb(0 128 255 / var(--rainbow-opacity)),
            rgb(0 0 255 / var(--rainbow-opacity)),
            rgb(128 0 255 / var(--rainbow-opacity)),
            rgb(255 0 255 / var(--rainbow-opacity)),
            rgb(255 0 0 / var(--rainbow-opacity)));
    background-repeat: repeat-x;
    background-size: 300% 20%;
    background-position: bottom 0px left 0%;
    animation: rainbow-shadow-flow 180s linear infinite;
}

@keyframes rainbow-shadow-flow {
    0% { background-position: 0% var(--rainbow-y-offset); }
    100% { background-position: 300% var(--rainbow-y-offset); }
}
