@import "shared/styles/callouts.css";
@import "shared/styles/menu.css";

/* ----------- colors ----------------- */

@theme {
    --color-ig-h1: hsl(345 94% 58%);
    --color-ig-h2: hsl(180 100% 42%);
    --color-ig-h3: hsl(200 100% 55%);
    --color-ig-h4: hsl(260 100% 70%);
    --color-ig-h5: hsl(300 100% 42%);
    --color-ig-strong: hsl(20 100% 65%);
    --ig-background: #fff;
    --ig-text: #171717;
}

.dark {
    @theme {
        --color-ig-h2: hsl(180 100% 50%);
        --ig-background: #171717;
        --ig-text: #fff;
    }
}

main {
    h3 {
        color: var(--color-ig-h3);
    }
}

/* ----------- fonts ----------------- */

main {
    font-family: var(--nextfont-body);
    h1,
    h2,
    h3,
    h4,
    h5 {
        font-family: var(--nextfont-heading);
    }
}

.blockquote:not(.callout) {
    border-left: 3px solid var(--color-ig-h3);
    padding-left: 1rem;
    margin-top: 1rem;
}

/* ----------- todo list corrections ------------- */

.contains-task-list {
    font-weight: bold;
    margin: 1rem;
    .contains-task-list {
        font-weight: normal;
        margin: 0 1rem 1rem;
    }
    .task-list-item:has(> input[type="checkbox"]:checked) {
        font-style: italic;
        opacity: 0.7;
    }
}

/* ----------- corrections ----------------- */
.katex-html {
    display: none;
}

[role="tabpanel"] h3:first-child {
    display: none;
}
