.cm-strong, strong {
    color: hsl(30deg, 100%, 60%);
}
.cm-header {
    font-weight: bold;
}
.cm-header-2 {
    color: hsl(180deg, 100%, 42%);
}
.cm-header-3 {
    color: hsl(200deg, 100%, 42%);
}
.cm-header-4 {
    color: hsl(270deg, 100%, 42%);
}
.cm-header-5 {
    color: hsl(300deg, 100%, 42%);
}
.cm-header-6 {
    color: hsl(330deg, 100%, 42%);
}