.title {
    position: relative;
    text-align: center;
    font-size: 3.125rem;
    font-size: min(4rem, max(8vw, 2.8rem));
    z-index: 0;
}

.title::after {
    content: attr(data-text);
    position: absolute;
    left: 1.5px;
    top: 1.5px;
    width: 100%;
    height: 100%;
    background-image: linear-gradient(to right,
            #ff0000,
            #ff8000,
            #ffff00,
            #80ff00,
            #00ff00,
            #00ff80,
            #00ffff,
            #0080ff,
            #0000ff,
            #8000ff,
            #ff00ff,
            #ff0000);
    background-size: 300% auto;
    background-clip: text;
    -webkit-background-clip: text;
    color: transparent;
    -webkit-text-fill-color: transparent;
    animation: rainbow-text-flow 180s linear infinite;
    z-index: -1;
}

@keyframes rainbow-text-flow {
    0% {
        background-position: 0% center;
    }

    100% {
        background-position: 300% center;
    }
}