@import "shared/styles/globalLayout.css";
@import "shared/styles/callouts.css";
@import "shared/styles/menu.css";
@import "shared/styles/submenu.css";

main {

    h3 {
        color: var(--color-ig-h3);
    }

    h4 {
        color: var(--color-ig-h4)
    }

    h5 {
        color: var(--color-ig-h5)
    }
}